body,html{
    margin: 0;
    padding: 0;
}

    .logo-container {
      align-items: center; /* Vertically centers items */
      background-color: black;
      padding-bottom: 0;
      margin-bottom: 0;
    
    }
    .logostyle{

        width: 60px;
        height: 60px;
        margin-left: 200px;
        display: inline-block;
        vertical-align: middle; 
        padding-bottom: 0;
       
    }

    .titlename{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        font-style: normal;
        margin-left: 10px;
         padding-bottom: 10px;
        color: rgb(208, 204, 204);
        padding-top: 10px;
        display: inline-block;
        vertical-align: middle; 
       
    }

    .baclground-image{
        width: 100%;      
        height: auto;     
       margin-top: 0;
       
    }
    .background-image.mobile {
        display: none;
    }
    
    .note-text{
        font-family: Arial;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        margin-left: 50px;
        color: rgb(104, 57, 25);
        margin-top: 20px;
    }
    .news-text{
        color: rgb(35, 48, 59)
    }
    .note-info{
        margin-top: 15px;
        margin-left: 60px;
        margin-right: 70px;
        margin-bottom: 15px;
        padding-left: 50px;
        padding-right: 20px;
        padding-bottom: 15px;
        font-family: cormorantgaramond-semibold, cormorantgaramond, cormorant garamond, serif;
        font-size: 20px;
        color: #333232;
        line-height: 30px;
    }



.services-section {
text-align: center;
padding-left: 150px;
padding-right: 150px;
padding-top: 20px;

}

.services-section h1 {
font-size: 50px;
margin-bottom: 10px;
color: #333232;
line-height: 50PX;
}

.services-container {
display: flex;
justify-content: center;

margin-top: 60px;
margin-left: 100;
margin-right: 100;

margin-bottom: 100px;
}

.service-card {
background-color: #f9f9f9;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
width: 23%;
padding: 20px;
}

.service-card img {
width: 100%;
height: 200px;
border-radius: 8px;
}

.service-card h3 {
font-size: 1.5em;
color: #2C3E50;
margin: 15px 0;
}

.service-card p {
font-size: 20px;
color: #666;
line-height: 26px;
margin: 10px;
text-align:left;
padding: 10px;
}


hr {
width: 10%;
height: 8px;
margin-top: 20px;
background-color: rgb(237, 205, 31);
border: none;

}

.about-us-text{

padding-left: 10px;
padding-top: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
font-weight: bold;
color: rgb(48, 46, 46);
margin: 0;
}

.note-section{
background-color: #efefef;
margin-top: 15px;
padding-top: 15px;
}

.about-container{


background-color: #efefef;

text-align: center;
padding-left: 150px;
padding-right: 150px;
padding-top: 20px;

}
.about-section{

display: flex;
height: 100vh;
justify-content: space-between;
gap: 50px;
text-align: center;
padding-left: 150px;
padding-right: 150px;
padding-top: 20px;

}

.about-textdata{
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
padding-left: 50px;
padding-right: 50px;
color: #333232;
padding-bottom: 20px;

line-height: 30px;
}
.about-line {
width: 22%;
height: 8px;
background-color: rgb(237, 205, 31);
border: none;

}
.about-vertical-data {
display:flex;
flex-direction: column;
}

.bridge-image{
width: 100%;
height: 85%;
padding-top: 20px;
}

.maps-section{
text-align: center;
padding-top: 40px;
width: 100%;

}

.history-contanior{
display: flex;
justify-content: center;

text-align: center;
background-color: rgb(30, 45, 59);
padding-top: 50px;
padding-bottom: 50px;
}

.history-record{
display: flex;
flex-direction: column;
gap: 10px;
padding-left: 30px;
padding-right: 30px;

}


.key{
font-family: 'Times New Roman', Times, serif;
font-size: 50px;
font-weight: bold;
color: white;
margin: 0;
padding: 0;
}

.value{
font-family: 'Times New Roman', Times, serif;
font-size: 22px;
font-weight: bold;
color: white;
margin: 0;
padding: 0;
}


.varital-line{
width: 1px;
height: 60px;
background-color: white;
padding: 0;
margin: 0;

}


.contact-section{
text-align: center;
font-size: 50px;
margin-bottom: 10px;
color: #333232;
line-height: 50PX;
}

.contact-container{
display: flex;
justify-content: space-between;
padding-left: 250px;
padding-right: 200px;
margin-left: 150px;

margin-top: 50px;

}

.social-media-links{
display: flex;
justify-content:center;
width: 300px;
gap: 12px;
margin-left: 320px;
margin-top: 30px;
margin-bottom: 200px;
}

.fa {
font-size: 25px;
text-align: center;
text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {

color: rgb(18, 18, 18);

}

.gettouch-text, .address-text{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
line-height: 26px;

}

.call-number-contact-info, .address-info {

line-height: 26px;
width: 350px;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px; 
color: #666;

}


@media screen and (max-width: 768px) {

    .logo-container {
      
        background-color: black;
        padding-bottom: 0;
        margin-bottom: 0;
      
      }

      .logostyle{

        width: 30px;
        height: 30px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle; 
        padding-bottom: 0;
       
    }

    .titlename{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-style: normal;
        margin-left: 5px;
        padding-bottom: 10px;
        color: rgb(208, 204, 204);
        padding-top: 10px;
        display: inline-block;
        vertical-align: middle; 
       
    }
    .background-image {
        display: none;
        
    }
     
    .background-image.mobile {
        display: block;
        width: 100%;
        height: auto;          
       margin-top: 0;
       margin-bottom: 0;
    }
       
    
    .note-text{
        font-family: Arial;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        margin-left: 13px;
        color: rgb(104, 57, 25);
        margin-top: 20px;
    }
    .note-info{
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        font-family: cormorantgaramond-semibold, cormorantgaramond, cormorant garamond, serif;
        font-size: 20px;
        color: #333232;
        line-height: 30px;
    }

    .services-section {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 20px;
        margin-bottom: 50px;
        }
        
        .services-section h1 {
        font-size: 25px;
        color: #333232;
        margin-bottom: 0px;
        }
        
        .services-container {
        display: flex;
        flex-direction: column;
        justify-content:center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        margin-top: 10px;
        margin-left: 10;
        margin-right: 5;
        margin-bottom: 0;
        padding-bottom: 0;
        }
        
        .service-card {
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 10px;
        }
        
        .service-card img {
        width: 100%;
        height: 200px;
        border-radius: 8px;
        }
        
        .service-card h3 {
        font-size: 1.5em;
        color: #2C3E50;
        margin: 15px 0;
        }
        
        .service-card p {
        font-size: 20px;
        color: #666;
        line-height: 26px;
        margin: 10px;
        text-align:left;
        padding: 10px;
        }
        
        
        hr {
        width: 25%;
        height: 8px;
        margin-top: 10px;
        background-color: rgb(237, 205, 31);
        border: none;
        
        }

        .about-section{

            display: flex;
            flex-direction: column;
            height: 600px;
            justify-content: center;
            gap: 0px;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            
            }
        .about-vertical-data {
            display:flex;
            flex-direction: column;
            }

        .about-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #efefef;
            margin-bottom: 30px;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 400px;
            padding-bottom: 320px;
            margin-top: 0;
            }
            
            
            .about-textdata{
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            padding-left: 10px;
            padding-right: 10px;
            color: #333232;
            padding-bottom: 20px;
            
            line-height: 30px;
            }
            .about-line {
            width: 30%;
            height: 8px;
            background-color: rgb(237, 205, 31);
            border: none;
            
            }
          
            .about-us-text{

                padding-left: 10px;
                padding-top: 20px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 35px;
                font-weight: bold;
                color: rgb(48, 46, 46);
                margin: 0;
                }
           
                .bridge-image{
                    width: 100%;
                    height: 100%;
                    padding-top: 10px;
                    margin: 0;
                    content: url("./images/bride2.jpg");
                    }
            
                    .history-contanior{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin-top: 0;
                        text-align: center;
                        background-color: rgb(30, 45, 59);
                        padding-top: 50px;
                        padding-bottom: 50px;
                        }
                        
                        .history-record{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                        
                        }
                        
                        
                        .key{
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 35px;
                        font-weight: bold;
                        color: white;
                        line-height: 30px;
                        margin: 0;
                        padding: 0;
                        }
                        
                        .value{
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 18px;
                        font-weight: bold;
                        color: white;
                        margin: 0;
                        padding: 0;
                        }
                        
                        
                        .varital-line{
                        width: 0;
                        height: 0px;
                        margin-top: 30px;
                        margin-bottom: 30px;
                        text-align: center;
                        background-color: white;
                       padding-left: 0px;
                        margin-left: 150px;
                        }

                        .contact-section{
                            text-align: center;
                            font-size: 30px;
                            margin-bottom: 10px;
                            color: #333232;
                            line-height: 26PX;
                            }
                            
                            .contact-container{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding-left: 10px;
                            padding-right: 10px;
                            margin-left: 10px;
                            
                            margin-top: 50px;
                            
                            }
                            
                            .social-media-links{
                            display: flex;
                            justify-content:center;
                            width: 300px;
                            gap: 12px;
                            margin-left: 20px;
                            margin-top: 20px;
                            margin-bottom: 200px;
                            }
                            
                            .fa {
                            font-size: 25px;
                            text-align: center;
                            text-decoration: none;
                            }
                            
                            /* Add a hover effect if you want */
                            .fa:hover {
                            opacity: 0.7;
                            }
                            
                            /* Set a specific color for each brand */
                            
                            /* Facebook */
                            .fa-facebook {
                            
                            color: rgb(18, 18, 18);
                            
                            }
                            
                            .gettouch-text, .address-text{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 26px;
                            
                            }
                            
                            .call-number-contact-info, .address-info {
                            
                            line-height: 26px;
                            width: 350px;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 16px; 
                            color: #666;
                            
                            }
                            
                            
                        
        
    
}



